services:
  selenium-hub:
    image: selenium/hub:4.1.2-20220131
    container_name: selenium-hub
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M
    ports:
      - "4444:4444"
    environment:
      - SE_OTEL_TRACES_ENABLED=false
      - SE_OTEL_EXPORTER_ENDPOINT=
    networks:
      - selenium-grid

  chrome:
    image: selenium/node-chrome:4.1.2-20220131
    container_name: selenium-node-chrome
    shm_size: 2gb
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 2G
    depends_on:
      - selenium-hub
    environment:
      - SE_EVENT_BUS_HOST=selenium-hub
      - SE_EVENT_BUS_PUBLISH_PORT=4442
      - SE_EVENT_BUS_SUBSCRIBE_PORT=4443
    networks:
      - selenium-grid

networks:
  selenium-grid:
    name: selenium-grid
    driver: bridge
